In [3]:
import pandas as pd

In [4]:
US = pd.read_table('/Users/brit.cava/Desktop/US_Children.csv',
                   sep=',', 
                   header=None, 
                   names=['State', 'Children'])

US.head()

        State   Children
0     Alabama  1162900.0
1      Alaska   196800.0
2     Arizona  1708600.0
3    Arkansas   762600.0
4  California  9657800.0

In [5]:
US.isnull().sum().sum()

11

In [6]:
US.dropna(how='any', inplace=True)

In [7]:
US.isnull().sum().sum()

0

In [8]:
US_Dict = US.set_index('State')['Children'].to_dict()

In [44]:
UN = pd.read_table('/Users/brit.cava/Desktop/UN Data.csv',
                   sep=',', 
                   header=None, 
                   names=['Country', 'Children'])

UN.head()

          Country   Children
0     Afghanistan  1306340.0
1         Albania     2200.0
2         Algeria      330.0
3  American Samoa        0.0
4         Andorra        0.0

In [45]:
UN.isnull().sum().sum()

2

In [46]:
UN.dropna(how='any', inplace=True)

In [47]:
UN.isnull().sum().sum()

0

In [48]:
UN_Dict = UN.set_index('Country')['Children'].to_dict()

In [49]:
ordered_un_desc = sorted(UN_Dict.items(), key=lambda kv: kv[1], reverse=True)

desc_results = {}
for us_key, us_value in US_Dict.items():
    countries = []
    for tuple in ordered_un_desc:
        un_key = tuple[0]
        un_value = tuple[1] 
        if un_value <= us_value:
            countries.append(un_key)
            us_value -= un_value
    desc_results[us_key] = countries

#for item in desc_results.items():
#    print item

In [50]:
unicef_desc = pd.DataFrame([[key,value] for key,value in desc_results.iteritems()],columns=["state","countries"])

In [52]:
unicef_desc.to_excel('unicefdesc.xls', sheet_name='State to Country Map')

In [31]:
#ordered_un_asc = sorted(UN_Dict.items(), key=lambda kv: kv[1])

#asc_results = {}
#for us_key, us_value in US_Dict.items():
#    countries = []
#    for tuple in ordered_un_asc:
#        un_key = tuple[0]
#        un_value = tuple[1] 
#        if un_value <= us_value:
#            countries.append(un_key)
#            us_value -= un_value
#    asc_results[us_key] = countries

#for item in asc_results.items():
#    print item